In [112]:
import yfinance as yf
import talib as ta
import pandas as pd
import numpy as np
from backtesting import Backtest, Strategy
from backtesting.lib import crossover

In [113]:
class SMAcross(Strategy):
    n1=9
    atp=14
    
    def init(self):
        close = self.data.Close
        high = self.data.High
        low = self.data.Low
        self.sma1= ta.SMA(close,self.n1)
        self.aroondown, self.aroonup = ta.AROON(low, high, self.atp)


        # Print values for debugging
        print("Close:", close)
        print("High:", high)
        print("Low:", low)
        print("SMA1:", self.sma1)
        print("AroonUp:", self.aroonup)
        print("AroonDown:", self.aroondown)
    
    def next(self):
        close = self.data.Close
        if crossover(self.aroonup,self.aroondown) and close > self.sma1:
            self.buy()
        elif crossover(self.aroondown,self.aroonup)and close < self.sma1:
            self.sell()

In [114]:
df =yf.download('BTC-USD',start='2018-1-1',interval='1d')

[*********************100%***********************]  1 of 1 completed

In [115]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,10291200000
2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,16846600192
2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,16871900160
2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,21783199744
2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,23840899072
...,...,...,...,...,...,...
2023-05-07,28901.623047,29157.517578,28441.367188,28454.978516,28454.978516,11301355486
2023-05-08,28450.457031,28663.271484,27310.134766,27694.273438,27694.273438,19122903752
2023-05-09,27695.068359,27821.400391,27375.601562,27658.775391,27658.775391,14128593256
2023-05-10,27654.636719,28322.687500,26883.669922,27621.755859,27621.755859,20656025026
2023-05-11,27618.919922,27621.716797,26781.826172,26903.394531,26903.394531,17454288896

In [116]:
bt = Backtest(df,SMAcross,cash=100000,commission=0.002,exclusive_orders=True)

In [117]:
output = bt.run()
output

Close: [13657.20019531 14982.09960938 15201.         ... 27658.77539062
 27621.75585938 26903.39453125]
High: [14112.20019531 15444.59960938 15572.79980469 ... 27821.40039062
 28322.6875     27621.71679688]
Low: [13154.70019531 13163.59960938 14844.5        ... 27375.6015625
 26883.66992188 26781.82617188]
SMA1: [           nan            nan            nan ... 28541.46223958
 28489.26085069 28291.80056424]
AroonUp: [        nan         nan         nan ... 35.71428571 28.57142857
 21.42857143]
AroonDown: [         nan          nan          nan ... 100.          92.85714286
 100.        ]

Start                     2018-01-01 00:00:00
End                       2023-05-11 00:00:00
Duration                   1956 days 00:00:00
Exposure Time [%]                         0.0
Equity Final [$]                     100000.0
Equity Peak [$]                      100000.0
Return [%]                                0.0
Buy & Hold Return [%]               96.990556
Return (Ann.) [%]                         0.0
Volatility (Ann.) [%]                     0.0
Sharpe Ratio                              NaN
Sortino Ratio                             NaN
Calmar Ratio                              NaN
Max. Drawdown [%]                        -0.0
Avg. Drawdown [%]                         NaN
Max. Drawdown Duration                    NaN
Avg. Drawdown Duration                    NaN
# Trades                                    0
Win Rate [%]                              NaN
Best Trade [%]                            NaN
Worst Trade [%]                           NaN
Avg. Trade [%]                            NaN
Max. Trade Duration                       NaN
Avg. Trade Duration                       NaN
Profit Factor                             NaN
Expectancy [%]                            NaN
SQN                                       NaN
_strategy                            SMAcross
_equity_curve                           Eq...
_trades                   Empty DataFrame
...
dtype: object

In [118]:
bt.plot()

BokehDeprecationWarning: Passing lists of formats for DatetimeTickFormatter scales was deprecated in Bokeh 3.0. Configure a single string format for each scale
c:\Users\WORKSTATION\AppData\Local\Programs\Python\Python39\lib\site-packages\backtesting\_plotting.py:250: UserWarning: DatetimeFormatter scales now only accept a single format. Using the first provided: '%d %b'
  formatter=DatetimeTickFormatter(days=['%d %b', '%a %d'],
BokehDeprecationWarning: Passing lists of formats for DatetimeTickFormatter scales was deprecated in Bokeh 3.0. Configure a single string format for each scale
c:\Users\WORKSTATION\AppData\Local\Programs\Python\Python39\lib\site-packages\backtesting\_plotting.py:250: UserWarning: DatetimeFormatter scales now only accept a single format. Using the first provided: '%m/%Y'
  formatter=DatetimeTickFormatter(days=['%d %b', '%a %d'],

GridPlot(id='p3053', ...)